<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - System Management</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

  <div class="card">
    <div class="card-image">
      <img src="/logo.png" alt="Company Logo" />
    </div>
    <div class="card-form">
      <h2>Connexion au système</h2>
      <form  action="/login" method="POST">
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" id="username" name="email" autocomplete="off"/>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="password"/>
        </div>
        <div class="remember">
          <input type="checkbox" id="remember" />
          <label for="remember">Se souvenir de moi</label>
        </div>
        <button type="submit" class="btn">Se connecter</button>
        <div class="error" id="errorMsg">Veuillez remplir les deux champs.</div>
      </form>
    </div>
  </div>



</body>
</html>
